.imagenTipo{
	position: fixed;
	background:url(/img/prueba6.jpg);
	bottom: 10;
	left: 0;
	width: 100%;
    height: calc(100vh - 54px);
	z-index: -1;
	
    background-size: cover;
 
	
}

.imagenActivos{
	position: fixed;
	background:url(/img/prueba7.jpg);
	bottom: 10;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
	
}


.wave{
	position: fixed;
	bottom: 10;
	left: 0;
	height: 100%;
	z-index: -1;
}

