<!-- Bootstrap CSS -->
<link href="/css/registro.css" rel="stylesheet">
{{> navigation}}
{{#if success}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="=alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}
<div class="row no-gutters bg-dark">
    <div class="col-xl-5 col-lg-12 register-bg">
        <div class="opaco"> </div>
    </div>
    <div class="col-xl-7 col-lg-12 d-flex">
        <div class="container align-self-center p-6">
            <h1 class="font-weight-bold mb-3">Registrate</h1>

            <p class="text-muted mb-5">Ingresa la siguiente información para registrarte.</p>

            <form action="/usuario/registro" method="POST">

                <div class="form-row mb-2">

                    <div class="form-group col-md-7">
                        <label class="font-weight-bold">Nombre </label>
                        <input type="text" class="form-control" name="usuario_nombre" autocomplete="off" required
                            placeholder="Tu nombre">
                    </div>

                    <div class="form-group col-md-5">
                        <label>Fecha de nacimiento</label>
                        <input type="date" name="usuario_fechaNacimiento" class="form-control" required>
                    </div>

                </div>


                <div class="form-row mb-2">

                    <div class="form-group col-md-7">
                        <label class="font-weight-bold">Correo electronico<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="usuario_email" autocomplete="off" required
                            placeholder="Tu correo electronico">
                    </div>

                    <div class="form-group col-md-5">
                        <label class="font-weight-bold">Numero de celular <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" name="usuario_numero" autocomplete="off" required
                            placeholder="Tu numero de celular">
                    </div>

                </div>




                <div class="form-group mb-3">
                    <label>Dirección</label>
                    <input type="text" class="form-control" id="search_input" name="usuario_direccion" required
                        placeholder="Tu direccion de domicilio">
                    <input type="hidden" name="usuario_latitud" id="latitude" />
                    <input type="hidden" name="usuario_longitud" id="longitude" />
                    <input type="hidden" name="usuario_localidad" id="localidad" />
                </div>


                <div class="form-row mb-2">

                    <div class="form-group col-md-5">
                        <label class="font-weight-bold">Usuario</label>
                        <input type="text" class="form-control" name="usuario_username" autocomplete="off" required
                            placeholder="Tu nombre de usuario">
                    </div>

                    <div class="form-group col-md-7">
                        <label class="font-weight-bold">Contraseña </label>
                        <input type="password" class="form-control" name="usuario_password" autocomplete="off" required
                            placeholder="tu contraseña">
                    </div>

                </div>

                <div class="form-row mb-2">

                    <div class="form-group col-md-5">
                        <label>Numero de tarjeta</label>
                        <input type="number" class="form-control" name="usuario_numCard" autocomplete="off" required
                            placeholder="Crédito / Débito">
                    </div>

                    <div class="form-group col-md-7">
                        <label class="font-weight-bold">Documento de identidad </label>
                        <input type="number" class="form-control" name="id_usuario" autocomplete="off" required
                            placeholder="Número de documento">
                    </div>

                </div>

                <div class="form-group mb-4"></div>
                <label>Recibo de Servicios</label><br>
                <input type="file" id="img_uploader" required><br><br>
                <input type="hidden" id="recibo" name="usuario_recibo">
                <div class="card" id="espacio_foto">
                    <img id="img_preview">

                </div>


                <button class="btn btn-primary width-100">Regístrate</button>
            </form>
            <small class="d-inline-block text-muted mt-5">© Mande Corp 2020</small>
        </div>
    </div>
</div>
<script>
    // ADDRESS
    var searchInput = 'search_input';

    var componentForm = {
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name'
    };
    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)),
            {
                types: ['geocode']
            });
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            var all = "";
            document.getElementById('latitude').value = near_place.geometry.location.lat();
            document.getElementById('longitude').value = near_place.geometry.location.lng();
            for (var i = 0; i < near_place.address_components.length; i++) {
                var addressType = near_place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = near_place.address_components[i][componentForm[addressType]];
                    all = all.concat(" ", val);
                }
            }
            document.getElementById('localidad').value = all;
        });
    });
    $(document).on('change', '#' + searchInput, function () {
        document.getElementById('latitude').value = '';
        document.getElementById('longitude').value = '';
    });
    // RECIBO
    const imagePreview = document.getElementById('img_preview');
    const imageUploader = document.getElementById('img_uploader');
    const CLOUDINARY_URL = 'https://api.cloudinary.com/v1_1/mattezl/image/upload';
    const CLOUDINARY_UPLOAD_PRESET = 'bz4oq8ph';
    imageUploader.addEventListener('change', async (e) => {
        const file = e.target.files[0];
        const formData = new FormData();
        formData.append('file', file);
        formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);
        const res = await axios.post(CLOUDINARY_URL, formData,
            {
                headers:
                {
                    'Content-Type': 'multipart/form-data'
                }
            });
        console.log(res);
        imagePreview.src = res.data.secure_url;
        document.getElementById('recibo').value = res.data.secure_url;
    })
</script>