@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}


body {
	
	

}

.labores-container {
  font-family: 'Muli', sans-serif;
	
}

.labor {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
    width: 500px;
    height: 150px;
}

.labor h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.labor h2 {
	
  
    font-size: 20px;
}

.labor-preview {
	background-color: #232f3b;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}



.labor-info {
	padding: 30px;
  position: relative;
 
	width: 100%;
}



.btn {
  background-color: #232f3b;
  margin-left: 10px;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	bottom: 30px;
	right: 32px;
  letter-spacing: 1px;
  text-decoration:  none;
  
}
