<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container"><a class="navbar-brand" href="/">
    <img src="/img/LogoH.png" width="136" height="34" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <ul class="navbar-nav ml-auto">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
         Registrarse
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/usuario/registro">Usuario</a>
          <a class="dropdown-item" href="/trabajador/registro">Trabajador</a>
        </div>
      </li>
      <li></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Iniciar Sesion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/usuario/inicio-sesion">Usuario</a>
          <a class="dropdown-item" href="/trabajador/inicio-sesion">Trabajador</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>