
<body>

    <header id="header">
   
 
    <!-- Imagen Header -->
    <div class="img-header">
     <div class="welcome">
       <img src="/img/LogoHv2.png" width="500" height="132" class="animated zoomInRight" alt="">
       <hr class="animated zoomInRight">
    
     </div>       
    </div>
    
    <div class="skew-abajo"></div>

    </header>

 <main>

    <!-- Acerca de nosotros -->
    <section class="acerca-de">
    <div class="info-container">
      <h1>Acerca de Nosotros</h1>
      <p>Mande es una aplicacion que te permite solicitar servicios de diferentes sectores para tus necesidades varias. Para ello, en Mande contamos con multiples y variados profesionales en su campo de desarrollo; desde un plomero para la instalacion,mantenimiento y reparacion de tus aparatos del hogar, hasta un tutor para reforzar en las materias que te encuentres con dificultades</p>
      <h1>¿Como funciona Mande?</h1>
      <p>Es muy sencillo, primero debes de contar con una cuenta, para eso, le das en el boton de Registrarse->Usuario y llenas los campos del formulario. Una vez dispongas de tu cuenta, *se describen los pasos que hay que hacer jajaja viva el vicio y el lorem ipsum* Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, quas.</p>
      <div class="about-gallery">
        <img src="/img/Banner5.png" alt="">
        <img src="/img/Banner3.jpg" alt="">
        <img src="/img/Banner2.jpg" alt="">
    </section>

   
   <section class="testimonios">
   <section class="our-projects">
      <div class="skew-arriba"></div>
   <div class="deg-background"></div>
   
   <div class="ejeZproject">
      <div class="container-project">
        <div class="project-title">
          <h2>Testimonios de uso</h2>
          <hr>
        </div>
         <div class="box-testimonio">
      <div class="card-testimonio">
        <div class="card-img"><img src="/img/Testimonio1.jpg" alt=""></div>
        <div class="testimonio-text">
        <h4>Kratos Uzumaki</h4>
        <p>"Ha sido de gran utilidad en mi vida diaria, con Mande ya no tengo que preocuparme por tener el numero de un plomero a la mano, simplemente ingreso a la aplicacion, y ya esta"</p>
        </div>
      
      
      </div>

      <div class="card-testimonio">
          <div class="card-img"><img src="/img/Testimonio2.jpg" alt=""></div>
          <div class="testimonio-text">
          <h4>Matteo Gutierros</h4>
          <p>"Mera chimba, mande en la buena, mande es todo, un lorem ipsum pa llenar espacio xD Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, molestiae?"</p>
          </div>
        </div>

        <div class="card-testimonio">
            <div class="card-img"><img src="/img/Testimonio3.jpg" alt=""></div>
            <div class="testimonio-text">
            <h4>Benito camelco razon</h4>
            <p>"Sed pulvinar neque semper quam ultricies placerat. Suspendisse id posuere diam, sit amet malesuada urna. Proin eleifend consectetur convallis. Nulla dignissim ut elit a faucibus. Sed luctus sagittis gravida. Vivamus ante leo, finibus a rutrum ac, sodales vitae nisi."</p>
            </div>
          </div>

          <div class="card-testimonio">
              <div class="card-img"><img src="/img/Testimonio4.jpg" alt=""></div>
              <div class="testimonio-text">
              <h4>Roberto Perez</h4>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec tellus quis orci tristique accumsan a quis tortor. Quisque ultricies diam vitae dolor varius, et molestie dolor faucibus."</p>
              </div>
            </div>

     </div>
      </div>
      <h7>⠀</h7>
   </section>
   </section>

 </main> 

 <!-- Footer -->
 

 <script src=
 
 "/js/app.js"></script>