<link rel="stylesheet" href="/css/style.css">

<section class="banner">
    <div class="banner-content">
        <img src="img/LogoHv1.png" width="720" height="200" alt="">
    </div>

    <div class="container-fluid">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                
            </div>
             <div class="col-sm-6">
                <H1>Esto es de prueba por el momento</H1>
            </div>
        </div>
    </div>
</section>